body{
  background-color: #ffffff;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #ceefb5;
}


body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}

.header{
  display: flex;
  align-items: center;  
  border-bottom: 1px solid #000;
  padding: 10px 30px;
}

.left_area h3{
  color: #19B3D3;
  margin: 0;
  left: 500px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}


/* Responsive CSS */


.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 400px;
  left: 50%;
  margin-left: -150px;
  height: 420px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  border: 3px solid #4CAF50;
  z-index: 20;
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #FFF;
  z-index: -1;
}

.pricing{
color:#2a702d;
}
.pricing2{
color: rgb(156, 14, 14);
}

/* Style the anchor tag or button */
.map-link {
cursor: pointer;
color: blue;
text-decoration: underline;
}
.badge {
font-weight: bold;
text-transform: uppercase;
padding: 5px 10px;
min-width: 19px;
}
.badge-dark {
color: #fff;
background-color: #343a40;
}
.mt-1, .my-1 {
margin-top: 0.25rem !important;
}

.search_bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


/* add station */
.addButton {
  position:absolute;
  top: 140px;
  right: 20px;
  font-weight: bold;
  background: #19B3D3;
  color: #fff;
  transition: 0.5s;
  
  border-radius: 5px;
  padding: 10px 20px;
}
.addButton:hover {
  transform: scale(1.1);
  background: #0A738F;
}

.search_bar hr {
  display: none; 
} 
    
.hardwareHeading {
  font-weight: lighter;
  color: grey;
  font-size: 18px;
}
.hardwareHeading2 {
  font-weight: lighter;
  color: #19B3D3;
  font-size: 35px;
  font-weight: bold;
  
}
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#19B3D3;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffefe;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown_content {
  display: none;
}
.dropdown.active .dropdown_content {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 6px 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:#19B3D3;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;}

/* logout button */
.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

/* navbar */
@media screen and (max-width: 780px){
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #11745f;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}
/* POP UP styling */


.popup1 {
  width: 600px;
  height: 500px;
  position:fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
  z-index: 9999;
  display: none;
}

/* Style the close button */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Sidebar */
.sidebar{
  z-index: 1;
  top: 0;
  background: #d6e0df;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: calc(100% - 9%);
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}

.profile_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar .profile_info h4{
  color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a{
  color: #000000;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 10px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

/* Toggle Button */
.toggle-container {
  display: flex;
  align-items: center;
}

.toggle {
  width: 120px;
  height: 40px;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-color: red;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle:before {
  content: attr(data-content);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}

.toggle.on {
  background-color: green;
}

.toggle.on:before {
  content: "PRIVATE";
}

.toggle.converting {
  background-color: orange;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.toggle.converting:before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 20px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 20px;
  will-change: transform;
}
#qr{
  padding-left: 10px;
}
/* Dropdown */

.content{
  width: (100% - 250px);
  margin-top: 60px;
  padding: 20px;
  margin-left: 250px;
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Operations Button */
.button-90 {
  width: 150px;
  color:rgb(255, 255, 255);
  padding: 5px 5px;
  border-radius: 100px;
  background-color:#4CAF50;
  
  
  font-weight: bold;
  font-size: 10px;
  align-items:end;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  border: 100;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
  margin-top: 10px;
}
.button-902 {
  width: 150px;
  color:rgb(255, 255, 255);
  padding: 5px 5px;
  border-radius: 100px;
  background-color:#cd2b2b;
  
  
  font-weight: bold;
  font-size: 10px;
  align-items:end;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  border: 100;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
  margin-top: 10px;
}
.button-903 {
  width: 150px;
  color:rgb(255, 254, 254);
  padding: 5px 5px;
  border-radius: 100px;
  background-color:#92aa1a;
  
  
  font-weight: bold;
  font-size: 10px;
  align-items:end;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  border: 100;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
  margin-top: 10px;
}
.button-904 {
  width: 150px;
  color:rgb(255, 255, 255);
  padding: 5px 5px;
  border-radius: 100px;
  background-color:#245aa1;
  
  
  font-weight: bold;
  font-size: 10px;
  align-items:end;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  border: 100;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
  margin-top: 10px;
}
.button-90 button{
  width: 60px;
}
.button-902 button{
  width: 60px;
}
.button-903 button{
  width: 60px;
}
.button-904 button{
  width: 60px;
}
.button-90:hover {
  background-color: #f5f0f0;
  color: #000000;
  border: 3px solid #02fb4d;
  transition: all 0.3s ease 0s;
}
.button-902:hover {
background-color: #fefefe;
color: #000000;
border: 3px solid  #02fb4d;
transition: all 0.3s ease 0s;
}
.button-903:hover {
background-color: #f9f9f9;
color: #000000;
border: 3px solid  #02fb4d;
transition: all 0.3s ease 0s;
}
.button-904:hover {
background-color: #fbfbfb;
color: #000000;
border: 3px solid  #02fb4d;
transition: all 0.3s ease 0s;
}

/* Add Station Button */

.add-station-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 2px solid #4CAF50;
}

.add-station-btn {
  background: #19B3D3;
}
#add-station-submit{
  background-color: green;
}
#add-station-submit:hover{
  background-color: #02fb4d;
}
#cancel-btn{
  background-color: red;
}
#cancel-btn:hover{
  background-color: orangered;
}
.fa {
  margin-left: -12px;
  margin-right: 8px;
}